proxy/config/stats.config.dtd

<!ELEMENT statistics (stat+,alarm*)>
<!ELEMENT stat       (expr?, dst, src*, interval?)>
<!ELEMENT expr       (#PCDATA)>
<!ELEMENT dst        ANY>
    <!ELEMENT min    (#PCDATA)>
    <!ELEMENT max    (#PCDATA)>
    <!ELEMENT diff   EMPTY>
<!ELEMENT src        (#PCDATA)>
<!ELEMENT interval   (#PCDATA)>
<!ELEMENT alarm      (#PCDATA)>

<!ATTLIST dst define (built-in|custom) "built-in">
<!ATTLIST dst scope (node|cluster) "node">
<!ATTLIST dst operation (sum|re-calculate) "sum">
